<div class="container">
	<div>
		<h2>Your Profile</h2>
	</div>

	<div>
		<table style= "width:100%">
			<tr>
				<td>Full Name:</td>
				<td><%=@user.first_name%> <%=@user.last_name%></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><%=@user.email%></td>
			</tr>
			<tr>
				<td>Gender:</td>
				<%if @user.gender == "0"%>
					<%gender = "Female"%>
				<%elsif @user.gender == "1"%>
					<%gender = "Male"%>
				<%else%>
					<%gender = "nil"%>
				<%end%>
				<td><%=gender%></td>
			</tr>
		</table>
	</div>

	<div>
		<p><%=image_tag("/pokecoin.png",height:"35em")%> <%=@user.coins%></p>
	</div>

</div>