<div class="container">

	<div>
		<h2>Your <%=@pokemon.name.capitalize%> has been waiting for you.</h2>
	</div>
	<div>
	
	</div>
	<div class="container">
		Name: <%=@pokemon.name.capitalize%>     <%=link_to "Name Change",edit_pokemon_path(@pokemon)%><br/>
		Species : <%=@pokemon.species.capitalize%><br/>
		National id: <%=@pokemon.national_id%><br/>
		Height: <%=@pokemon.height%> m <br/>
		Weight : <%=@pokemon.weight%> kg<br/>
		Moves :<%=@pokemon.moves%><br/>
		Since : <%=@pokemon.created_at%><br/>

		<%=image_tag("#{@pokemon.image_url}", height: '150em')%>
		<%=image_tag("#{@pokemon.image_url_1}", height: '150em')%>

		<%=button_to "Groom"%>
		<%=button_to "Mate"%>

		<div>
			<%=button_to "Delete",pokemon_path(@pokemon), method: :delete, data: {confirm: "Are you sure you want to delete pokemon?"} %>

		</div>


	</div>

</div>