<div class="container">

<h2>Your <%=@pokemon.name%> has been waiting for you.</h2>

<div class="container">
	National id: <%=@pokemon.national_id%><br/>
	Height: <%=@pokemon.height%><br/>
	Weight : <%=@pokemon.weight%><br/>
	Moves :<%=@pokemon.moves%><br/>
	Rarity : <%=@pokemon.rarity%><br/>
	Since : <%=@pokemon.created_at%><br/>
</div>

</div>